.input-with-label {
  width: 100%;

  .input {
    width: 100%;

    .star {
      color: red;
    }

    p {
      label {
        font-size: 1em;
      }
    }

    input {
      width: 100%;
      height: 3em;
      padding: 1em;
    }
  }
}