.button {
  background: rgb(64, 145, 248);
  color: #fff;
  margin-top: 1em;
  border: none;
  padding: 0.5em;
  padding-left:1em;
  padding-right:1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}