.cart {
  width: 100%;
  padding: 1em;

  p{
    text-align: center;
  }

  .table {
    width: 100%;

    .th {
      width: 100%;
      background: #f5f5f5;
      height: 3em;
      line-height: 3em;
      border-bottom: solid 1px #eeeeee;

      .td {
        width: 20%;
        padding-left: 1em;
        float: left;
      }
    }

    .tr {
      width: 100%;
      display: flex;
      height: 4em;
      line-height: 4em;
      border-bottom: solid 1px #eeeeee;

      .td {
        width: 20%;
        padding-left: 1em;
        float: left;

        button {
          color: red;
          padding: 0.5em;
          border:solid 1px #ddd;
          border-radius:3px;
          background: #eee;
          padding-left:1em;
          padding-right:1em;
        }
      }
    }
  }
}