.shop {
  width: 100%;
  height: 100%;
  .shop-container {
    background: #eee;
    width: 100%;
    height: 100%;
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    .container{
      background: #fff;
    }
    .footer-copy{
      width: 100%;
      text-align: center;
      font-size:1em;
      color:#777;
    }
  }
}
