.products{
  width: 100%;
  padding: 1em;
  display: flex;
  .product-container {
    width: 20%;
    padding:2em;
    .product {
      border:solid 1px #eee;
      padding: 1em;
      .product-img {
        width: 100%;
      }
    }
  }
}