.header {
  height: 4em;
  line-height: 4em;
  background: rgb(3, 21, 39);
  padding-left: 1em;

  ul {
    height: 4em;
    line-height: 4em;
    display: inline;
    padding: 0;

    li {
      height: 4em;
      padding-left: 2em;
      padding-right: 2em;
      line-height: 4em;
      display: inline-block;
      margin: 0;
      text-align: center;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.header_nav {
  height: 4em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 4em;
  display: inline-block;
  text-align: center;
}

.header_nav_active {
  height: 4em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 4em;
  display: inline-block;
  text-align: center;
  background: rgb(64, 145, 248);
  margin: 0;
}